
@model IEnumerable<Netbox.Models.Customer>


@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container mt-5">

        <h1>Customers</h1>
        <!--For custum message if we don't have any customers in database -->
        @*@if (!Model.Any())
            {
                <p>We don't have any customers yet. </p>

            }
            else
            {

            }*@
        <p>
            @Html.ActionLink("NEW CUSTOMER", "NEW", "Customer", null, new { @class = "btn btn-primary btn-lg" })
        </p>



        <table id="customers" class="table table-bordered">
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>Membership Type</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>

</section>

<!-- This foreach loop has been replaced by /api/customers -->
@*@foreach (var customers in Model)
    {
        <tr>
            <td> @Html.ActionLink(customers.Name, "Edit", new { id = customers.Id }, null)</td>
            <td>@customers.MembershipType.Name</td>
            <td>
                <button data-customer-id="@customers.Id" class="btn-link js-delete">Delete</button>
            </td>

        </tr>
    }*@


@section scripts {

    <script>
         //Data view js
        $(document).ready(function () {
        var table =  $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, customer) {
                            return "<a href='/customer/edit/" + customer.id + "' class='nav-link' >" + customer.name + "</a>";
                        }
                    }, {
                        data: "membershipType.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn btn-secondary js-delete' data-customer-id=" + data + ">Delete</button>";
                        }
                    }
                ]
        });

            //Data access js

            $("#customers").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to delete this customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();

                            }
                        });
                    }
                });
            });

        });
    </script>


    @*<script>
            $(document).ready(function () {
                $("#customers").DataTable();
                $("#customers").on("click", ".js-delete", function(){
                    var button = $(this);
                    bootbox.confirm("Are you sure you want to delete this customer?", function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/customers/" + button.attr("data-customer-id"),
                                method: "DELETE",
                                success: function () {
                                    button.parents("tr").remove();
                                }
                            });
                        }
                    });
                });
            });
        </script>*@
}





@*@Scripts.Render("~/bundles/bootstrap.js")
    @Scripts.Render("~/bundles/bootbox.js")*@

@*<script src="~/Scripts/bootbox.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>*@
